{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(app|assets|behaviors|clients|components|constants|dataTypes|enums|errors|graphql|libs|services|tsTypes)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
